body {
    background-color: #722726;
    font-family: helvetica; 
    position:static;
}

a {
    color:#ffffff;
    text-decoration: none;
}

a:hover {
    color:#a02;
}

h1 {
    font-weight: 800;
    font-size: 300%;
    text-transform: uppercase;
    color:#ffffff; 
    position: absolute; 
    left:0px; 
    width:100%; 
    top:-10%; 
}

.topmenu {
    z-index: 1;
    text-transform: uppercase;
    font-family: helvetica;
    font-weight:600;
    position:fixed;
    top:0;
    left:0; 
    height:15px;
    padding-top: 10px;
    padding-bottom:10px; 
    width:100%;
    min-width:900px;
    background-color: #47211e;
    color:red;
    text-align: left;
    padding-left: 10px;
}

.errormessage {
    position:relative; 
    height:400px; 
    top:100px; 
    width:60%; 
    min-width: 500px; 
    margin-left: auto; 
    margin-right: auto; 
    border-style: dotted; 
    border-color: #d6d4d4;
    font-family: helvetica; 
    text-align: center; 
    min-width: 
    }

.errorheading { 
    position:absolute; 
    height:100px; 
    width:80%;
    left:10%; 
    right:10%; 
    top:10%; 
    text-align: center; 
    border-width: 2px; 
    border-style: dotted; 
    border-color:#ffffff; 
}

.errorbody {
    position:absolute;
    top: 40%; 
    width:80%; 
    height:auto; 
    left:10%; 
    right:10%; 
    font-size: 150%; 
    font-family: helvetica; 
    color:#ffffff; 
    font-weight: 200; 
    text-align: justify; 
}
